/* all */

/* Raleway looks good, but the 'W' are fucked */
/* Ubuntu is a nice font */
* {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  box-sizing: border-box;
  letter-spacing: 0.9px;
}

*:before, *:after {
  box-sizing: border-box;
}

ul {
  list-style:none;
  padding:0;
  margin: 0;
}

body {
  overflow: hidden;
}

@media (min-width: 700px) { width:100%; color:red;}