.container { /* <div> */ 
  margin-top: 50px;
  width: 100%;
}

.Chatroom__container { /* <div> */
  position: fixed;
    top: 50px;
    left: 0px;
    bottom: 0px;
    z-index:0;
  max-width: 61.8%;
  width: 100%;

  border-right: 1px solid black;
}

.Feed__container { /* <div> */
  position: absolute;
    top: 50px;
    right: 0px;
    z-index:0;
  height: 100%;
  width: 38.2%;
}
