.container { /* <div> */ 
  width: 100%;
}

.Portal__Container {
  position: absolute;
    top: 80px;
  overflow-y: scroll;
  z-index: -1;
  height: 100%;
  width: 100%;
  padding: 15px 15px;
  margin: 0px auto;
  background: url(http://i.imgur.com/iOZwl3v.png);
  background-color: #2a2a2a;
}

.Tags__container { /* <div> */
  position: fixed;
    top: 50px;
    right: 0px;
    left: 0px;
  height: 35px;
  background-color: #e6e6e6;
  border-bottom: 1px solid black;
}

@-webkit-keyframes AnimationName {
    0%{background-position:51% 0%}
    50%{background-position:50% 100%}
    100%{background-position:51% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:51% 0%}
    50%{background-position:50% 100%}
    100%{background-position:51% 0%}
}
@keyframes AnimationName { 
    0%{background-position:51% 0%}
    50%{background-position:50% 100%}
    100%{background-position:51% 0%}
}

