/* all */

/* Raleway looks good, but the 'W' are fucked */

* {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  box-sizing: border-box;
  letter-spacing: 0.9px;
}

*:before, *:after {
  box-sizing: border-box;
}
@media (min-width: 700px) { width:100%; color:red;}


