.container { /* <div> - Root container */
  overflow-y: scroll;
  display: inline-block;

  height: 100%;
  width: 100%;
  margin: 0px auto;

  background-color: #ececec;

} 


/* ===== ChatBar ===== */
.footer { /* <footer> - Contains the input bar to submit messages */
  position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;

  height: 42px;

  background-color: #BEBEBE;

  border-top: 1px solid black;
}

    .input_form { /* <form> */ 
      position: relative;
      display: block;

      height: 100%;
      width: 100%;

      margin: 0px auto;
      padding: 8px;
    }

    .input { /* <input> - Bar to type text to send to chatroom */ 
      height: 100%;
      width: 100%;

      border: 1px solid #4e4e4e;
    }