.container { /* <div> - Root container */
  position: absolute;
  overflow-y: scroll;
  padding-top:30px;
  height: 100%;
  margin: 0px auto;
  right: 680px;
  left: 0px;
  background-color: #ffffff;

}

.masterLogContainer {
  padding-bottom: 20px;
}

.message {
  margin: 1px;
}

.message:hover {
  background-color: #f9f9f9;
}

.meta {
  /*display: block;*/
}

.username {
  font-weight: bold;
  line-height:1.333;
}

.time {
  opacity: 0.75;
  font-size: 0.9em;
  line-height:1.333;
}

.content {
  line-height:1.333;
  /*display: block;*/
}

.topicDivider {
  border-top: 1px solid #e6e6e6;
  position: relative;
  margin: 0 20px;
}

.topicName{
  top: -10px;
  left: 50%;
  padding: 0 15px;
  background-color: #ffffff;
  position: absolute;
  margin:0px auto;
  font-weight: bold;
  transform: translate(-50%);
}

.topicMessages {
  padding: 25px 20px;
}

/* ===== ChatBar ===== */
.footer { /* <footer> - Contains the input bar to submit messages */
  position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;

  height: 42px;
  background-color: #FFFFFF;

}

    .input_form { /* <form> */
      position: relative;
      display: block;

      height: 100%;
      width: 100%;

      margin: 0px auto;
      padding: 8px;

    }

    .input { /* <input> - Bar to type text to send to chatroom */
      height: 100%;
      width: 100%;
      font-family: 'Raleway';
      padding-left: 10px;

      border: 2px solid #4e4e4e;

      border-radius:10px;
    }