.container { /* <div> - Root container */
  overflow-y: scroll;
  height: 100%;
  margin: 0px auto;
}

.masterLogContainer {
  padding-bottom: 36px;
  padding-top: 20px;
}

.message {
  margin: 1px;
}

.message:hover {
  background-color: #f9f9f9;
}

.meta {
  /*display: block;*/
}

.username {
  font-weight: bold;
  line-height:1.333;
}

.time {
  opacity: 0.75;
  font-size: 0.9em;
  line-height:1.333;
}

.content {
  line-height:1.333;
  /*display: block;*/
}

.topicDivider {
  border-top: 1px solid #e6e6e6;
  position: relative;
  margin: 0 20px;
}

.topicName {
  top: -10px;
  left: 50%;
  padding: 0 15px;
  background-color: #ffffff;
  position: absolute;
  margin:0px auto;
  font-weight: bold;
  transform: translate(-50%);
}

.topicMessages {
  padding: 25px 20px;
}

/* ===== ChatBar ===== */
.footer { /* <footer> - Contains the input bar to submit messages */
  position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;

  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 3px;
  padding-left: 3px;

  height: 36px;

  background-color: #efefef;
}

    .input_form { /* <form> */
      position: relative;
      display: block;

      height: 100%;
      width: 100%;

      margin: 0px auto;
    }

    .input { /* <input> - Bar to type text to send to chatroom */
      height: 100%;
      width: 100%;
      font-family: 'Raleway';
      padding-left: 10px;

      border: 1px solid #4e4e4e;

      border-radius:6px;
    }

.spinner {
  position: absolute;
  left:46%;
  width: 40px;
  height: 40px;
  background-color: #333;
  transform: translateY(-50%);
  top: 46%;
  margin: 100px auto;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes sk-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
  } 50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
  } 100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}
