.Masonry {
  isFitWidth: true;
}

.Grid {
  margin: 0px auto;
}

.tile, .overlay {
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.hover {

}

.tile {
  background: no-repeat;
  background-size: 100% 100%;
}


.channelName:hover {
  font-weight: bold;
}

.userCount {
  float: right;
}

.headline {
  word-wrap:break-word;
  color: white;
}
.channelName, .userCount {
  word-wrap: break-word;
  color: white;
  font-size: 14px;
}

.sm {
  width: 190px;
  height: 190px;
}
    .sm .headline {
      line-height:100%;
      font-size: 1.1em;
    }
   /* .sm .channelName {
    }
    .sm .footer {
    }*/

.md {
  width: 390px;
  height: 390px;
}
    .md .headline {
      line-height:100%;
      font-size: 1.1em;
    }
   /* .md .channelName {
    }
    .md .footer {
    }*/

.lg {
  width: 590px;
  height: 390px;
}
    .lg .headline {
      padding-left:10px;
      line-height:100%;
      font-size: 1.1em;
    }
    /*.lg .channelName {
    }
    .lg .footer {
    }*/

.header {
   width: 100%;
}
.doge a {
  text-decoration: none;
}
.doge {
 margin: 0 auto;
 margin-top: 5px;
 margin-bottom: 5px;
 position: relative;
 border: 1px solid #b7b7b7;
}

.doge:hover {
  border: 1px solid white;
}

.headerOverlay {
  padding-top:5px;
  position:absolute;
  top: 0px;
  background-color: rgba(62, 62, 62, 0.82);
  height:28px;
  width:100%;
}
.footer {
  position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
  background-color: #3e3e3e;
  height: 40px;
  border-top: 1px solid black;
  padding: 0px 10px;
  line-height: 40px;
}

