.container { /* <div> */

  width: 100%;
}

.Navbar__container { /* <div> */
  position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    z-index:1;
  border-bottom: 1px solid black;
}

.Portal__Container {
  height: 100%;
  width: 60%;
  padding: 15px;
  background-color: rgba(0,0,0,0.855);
}

