.container { /* <div> */
  margin: 0 auto;
  width: 100%;
}

.Navbar__container { /* <div> */
  position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    z-index:1;
  border-bottom: 1px solid black;
}

.Portal__Container {
  height: 100%;
  padding: 10px;
  background-color: rgba(0,0,0,0.855);
  margin: 0 auto;
}
