/*=========== Feed ===========*/

.Feed__container { /* <div> */
  /*
    Contains:
      > <header> - .Feed__header
      > <div> - .Feed__body
  */
}

    .Feed__header { /* <header> */ 
      position: absolute;
        top: 0px;
        right: 0px;
        left: 0px;

      min-height: 100px;
      background-color: #ececec;
      border-bottom: 1px solid black;
    }
        .Feed__header__submitBar { /* <div> */ 
          position: absolute;
            right: 0px;
            bottom: 0px;
            left: 0px;
          height: 30px;
          border-top: 1px solid #ececec;
        }

    .Feed__body { /* <body> */
      position: absolute;
        top: 100px;
        right: 0px;
        bottom: 0px;
        left: 0px;
    }

    .Feed__body__admin { /* <body> */
      position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
    }


/*=========== Headline ===========*/
.Headline { /* <article> - Represents a new point of discussion */
  /*
    Contains:
      > <header> - .Headline__header
      > <article> - .Headline__active
      > <h2> - .Headline__title
  */
  position: relative;
}
    
    .Headline__header { /* <header> */ 
      position: relative;
      padding: 0px 10px;
      height: 100px;
      width: 100%;

      background-color: #e6e6e6;
      border-bottom: 1px solid black;
    }
        .Headline__new { /* <textarea> */ 
          position: absolute;
            top: 0px;
            right: 0px;
            bottom: 0px;
            left: 0px;
          outline: none;
          resize: none;

          height: 100%;
          width: 100%;
          padding: 10px;
          padding-bottom: 30px;
          border: 0px;
        }
        .Headline__title { /* <h2> */
          font-size: 1.3em;
          font-weight: bold;
          text-align: center;
          line-height: 100px;
          margin: 0px;
        }

    .Headline__body { /* <body> */ 
      position: relative;
    }   
        .Headline__update { /* <li> */ 
          border-bottom: 1px solid #2a2a2a;
        }
            .Headline__update__header { /* <header> */ 
              position: relative;
              text-align: center;
              width: 100%;
              padding: 10px;
              border-bottom: 1px solid #e6e6e6;
            }
                .Headline__update_time { /* <span> */ 
                  display: block;
                }
            .Headline__update__body { /* <div> */ 
              position: relative;
              width: 100%;
            }
                .Headline__update_content { /* <span> */ 
                  display: block;
                  padding: 10px;
                }

    .Headline__active { /* <article> */
      position: relative;
      top: 0;
      font-size: 3em;
      border: 0;
    }
  

/*=========== UpdateBar ===========*/
.UpdateBar { /* <div> -  Bar to submit an update */
  /* 
    Contains:
      > <textarea> - .UpdateBar__textarea
      > <button> - .UpdateBar__button
      > <footer> - .UpdateBar__footer
  */
  position: relative;
  width: 100%;
  border-bottom: 1px solid black;
}

    .UpdateBar__textarea { /* <textarea> */
      outline: none;
      resize: none;

      min-height: 100px;
      height: 100%;
      width: 100%;

      padding: 10px;
      margin: 0px;
      background-color: lightgrey;

      border: 0px;
    }

    .UpdateBar__textarea:focus { /* <textarea> (STATE) */
      background-color: #eee;
    }


    .UpdateBar__footer { /* <footer> */
      position: absolute;
        bottom: 0px;
      height: 30px;
      width: 100%;
      background-color: #eaeaea;
      border-top: 1px solid darkgrey;
    }
      .UpdateBar__button { /* <button> */ 
        position: absolute;
          right: 0px;
        height: 100%;
        width: 80px;
        border: 0px;
        border-left: 1px solid darkgrey;
      }



    .input_form { /* <form> */
      position: relative;
      display: block;

      height: 100%;
      width: 100%;

      margin: 0px auto;
      padding: 8px;

    }

/* Image Upload */


    .Uploaded__image { /* <img> */ 
      height: 29px;
      width: 30px;
    }

    .Image__upload__container { /* <div> */
      cursor: pointer;
      position: absolute;
        top: 0px;
        bottom: 0px;
        left: 0px;
      padding: 6px;
    }

.DeleteButton__container, .Dropzone__container, .Uploaded__image__container, .AddButton__container {
  position: absolute;
    top: 0px;
    bottom: 0px;
  cursor: pointer;
  padding: 7px 8px;
}
    .DeleteButton__container { /* <div> */ 
      right: 0px;
      border-left: 1px solid darkgrey;
      width: 30px;
    }
    .Uploaded__image__container { /* <div> */
      z-index: 5;
      left: 0px;
      right: 80px;
      padding: 0px;
      border-right: 1px solid darkgrey;
    }
    .Dropzone__container { /* <div> */ 
      width: 30px;
    }
    .AddButton__container { /* <div> */ 
      left: 0px;
      border-right: 1px solid darkgrey;
      width: 30px;
    }
    .AddButton__container i { /* <i> */ 
      color: #2a2a2a;
    }
    .DeleteButton__container i {
      color: #2a2a2a;
    }




