/*=========== Feed ===========*/

.Feed__container { /* <div> */
  /*
    Contains:
      > <header> - .Feed__header
      > <div> - .Feed__body
  */
}

    .Feed__header { /* <header> */ 
      position: absolute;
        top: 0px;
        right: 0px;
        left: 0px;

      min-height: 100px;
      background-color: #ececec;

      border-bottom: 1px solid black;
    }

    .Feed__body { /* <body> */
      position: absolute;
        top: 100px;
        right: 0px;
        bottom: 0px;
        left: 0px;
    }


/*=========== Headline ===========*/
.Headline { /* <article> - Represents a new point of discussion */
  /*
    Contains:
      > <article> - .Headline--active
      > <h2> - .Headline__title
  */
  position: relative;
  padding: 0px 10px;
  height: 100px;
  width: 100%;

  background-color: #e6e6e6;
  border-bottom: 1px solid black;
}

    .Headline--active { /* <article> */
      position: relative;
      top: 0;
      font-size: 3em;
      border: 0;
    }
    
    .Headline__title { /* <h2> */

      font-size: 1.3em;
      font-weight: bold;
      text-align: center;
      line-height: 100px;
      margin: 0px;
    }

/*=========== UpdateBar ===========*/
.UpdateBar { /* <div> -  Bar to submit an update */
  /* 
    Contains:
      > <textarea> - .UpdateBar__textarea
      > <button> - .UpdateBar__button
      > <footer> - /UpdateBar__footer
  */
  position: absolute;
    top: 0px;
    bottom: 0px;
  width: 100%;
}

    .UpdateBar__textarea { /* <textarea> */
      outline: none;
      resize: none;

      height: 100%;
      width: 100%;

      margin: 0px;
      background-color: lightgrey;

      border: 0px;
    }

    .UpdateBar__textarea:focus { /* <textarea> (STATE) */
      background-color: #eee;
    }


    .UpdateBar__footer { /* <footer> */
      position: absolute;
        bottom: 0px;
      height: 28px;
      width: 100%;
      background-color: #eaeaea;
      border-top: 1px solid darkgrey;
    }
      .UpdateBar__button { /* <button> */ 
        position: absolute;
          right: 0px;
        height: 100%;
        width: 80px;
        border: 0px;
        border-left: 1px solid darkgrey;
      }



    .input_form { /* <form> */
      position: relative;
      display: block;

      height: 100%;
      width: 100%;

      margin: 0px auto;
      padding: 8px;

    }
