/*=========== Feed ===========*/

.Feed__container { /* <div> */
  /*
    Contains:
      > <header> - .Feed__header
      > <div> - .Feed__body
  */
}

    .Feed__header { /* <header> */
      position: absolute;
        top: 0px;
        right: 0px;
        left: 0px;

      min-height: 100px;
      background-color: #ececec;
      border-bottom: 1px solid black;
    }
        .Feed__header__submitBar { /* <div> */
          position: absolute;
            right: 0px;
            bottom: 0px;
            left: 0px;
          height: 30px;
          background-color: #e6e6e6;
          border-top: 1px solid #3e3e3e;
        }

    .Feed__body { /* <body> */
      position: absolute;
        top: 100px;
        right: 0px;
        bottom: 0px;
        left: 0px;
      background-color: #3e3e3e;
    }

    .Feed__body__admin { /* <body> */
      position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
    }


/*=========== Headline ===========*/
.Headline { /* <article> - Represents a new point of discussion */
  /*
    Contains:
      > <header> - .Headline__header
      > <article> - .Headline__active
      > <h2> - .Headline__title
  */
  position: relative;
}
    .Headline__header { /* <header> */
      position: relative;
      height: 200px;
      width: 100%;

      background-color: #1b1b1b;
      border-top: 2px solid black;
      border-bottom: 1px solid black;
    }
        .Headline__new { /* <textarea> */
          position: absolute;
            top: 0px;
            right: 0px;
            bottom: 0px;
            left: 0px;
          outline: none;
          resize: none;
          background-color: #fafafa;
          height: 100%;
          width: 100%;
          padding: 10px;
          padding-bottom: 30px;
          border: 0px;
        }
        .Headline__new:focus { /* <textarea> */ 
          background-color: white;
        }
        .Headline__title__container { /* <div> */
          position: absolute;
            top: 0;
          height: 40px;
          width: 100%;
          color: white;
          background-color: #2d2d2d; 
          border-bottom: 1px solid #3e3e3e;
        }
        .Headline__title { /* <h2> */
          font-size: 1.3em;
          font-weight: bold;
          color: white;
          line-height: 40px;
          margin: 0px;
        }

        .Headline__image { /* <div> */ 
          position: absolute;
            top: 40px;
            right: 0px;
            bottom: 0px;
            left: 0px;
          background-repeat: no-repeat;
          background-position: center;
          background-size: auto 100%;
        }

    .Headline__body { /* <body> */
      position: relative;
    }
        .Headline__update { /* <li> */
          border-bottom: 1px solid #3e3e3e;
        }
            .Headline__update__header { /* <header> */
              position: relative;
              text-align: center;
              width: 100%;
              padding: 10px;
              background-color: #2d2d2d;
              border-bottom: 1px solid black;
            }
                .Headline__update_time { /* <span> */
                  display: block;
                  color: #e6e6e6;
                }
            .Headline__update__body { /* <div> */
              position: relative;
              width: 100%;
              background-color: #3e3e3e;
            }
                .Headline__update_content { /* <span> */
                  display: block;
                  padding: 10px;
                  color: white;
                }

    .Headline__active { /* <article> */
      position: relative;
      top: 0;
      font-size: 3em;
      border: 0;
    }


/*=========== UpdateBar ===========*/
.UpdateBar { /* <div> -  Bar to submit an update */
  /*
    Contains:
      > <textarea> - .UpdateBar__textarea
      > <button> - .UpdateBar__button
      > <footer> - .UpdateBar__footer
  */
  position: relative;
  width: 100%;
  border-bottom: 1px solid black;
}

    .UpdateBar__textarea { /* <textarea> */
      outline: none;
      resize: none;

      min-height: 100px;
      height: 100%;
      width: 100%;

      padding: 10px;
      margin: 0px;
      background-color: #fafafa;

      border: 0px;
    }

    .UpdateBar__textarea:focus { /* <textarea> (STATE) */
      background-color: white;
    }


    .UpdateBar__footer { /* <footer> */
      position: absolute;
        bottom: 0px;
      height: 30px;
      width: 100%;
      background-color: #e6e6e6;
      border-top: 1px solid #3e3e3e;
    }
      .UpdateBar__button { /* <button> */
        position: absolute;
          right: 0px;
        height: 100%;
        width: 80px;
        background-color: #B9B9B9;
        border: 0px;
        border-left: 1px solid #3e3e3e;
      }



    .input_form { /* <form> */
      position: relative;
      display: block;

      height: 100%;
      width: 100%;

      margin: 0px auto;
      padding: 8px;

    }

/* Image Upload */


    .Uploaded__image { /* <img> */
      height: 29px;
      width: 30px;
    }

    .Image__upload__container { /* <div> */
      cursor: pointer;
      position: absolute;
        top: 0px;
        bottom: 0px;
        left: 0px;
      padding: 6px;
    }

.DeleteButton__container, .Dropzone__container, .Uploaded__image__container, .AddButton__container {
  position: absolute;
    top: 0px;
    bottom: 0px;
  cursor: pointer;
}
    .DeleteButton__container { /* <div> */
      right: 0px;
      border-left: 1px solid darkgrey;
      width: 30px;
      padding: 7px 8px;
    }
    .Uploaded__image__container { /* <div> */
      z-index: 5;
      left: 0px;
      right: 80px;
      padding: 0px;
      border-right: 1px solid darkgrey;
    }
    .Dropzone__container { /* <div> */
      width: 30px;
    }
    .AddButton__container { /* <div> */
      left: 0px;
      border-right: 1px solid darkgrey;
      width: 30px;
      padding: 7px 6px;
    }
    .AddButton__container i { /* <i> */
      color: #2a2a2a;
    }
    .DeleteButton__container i {
      color: #2a2a2a;
    }


.spinner {
  position: absolute;
    top: 35%;
    left: 0px;
    right: 0px;
  background-color: #333;
  width: 40px;
  height: 40px;
  transform: translateY(-35%);
  margin: 0px auto;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes sk-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
  } 50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
  } 100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}