.Navbar__container { /* <div> */
  position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    z-index: 1;
  height: 50px;
  /* 'Backround-color:' */
  /*composes: Shared__primary_color from "../../modules/Shared/Shared_styles.css";*/
  background-color: #3e3e3e;
  border-bottom: 1px solid black;
}